# coding: utf-8

"""
    5GT-MTP PA API

    REST-API for the MTP PA. Find more at http://5g-transformer.eu  # noqa: E501

    OpenAPI spec version: 0.0.0
    Contact: cnd@lists.cttc.es
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from pa.swagger_client.api_client import ApiClient


class InterNfviPopCompRouteApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def comp_route_inter_nfvi_pop(self, inter_nfvi_connectivity_id, params, **kwargs):  # noqa: E501
        """Computes the interNfviPop connectivity between a pair of PEs with specific network constraints and selects specific servers/hosts within NfviPops  # noqa: E501

        Computes the interNfviPop connectivity between a pair of PEs with specific network constraints and selects specific servers/hosts within NfviPops  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.comp_route_inter_nfvi_pop(inter_nfvi_connectivity_id, params, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inter_nfvi_connectivity_id: Identifier of the interNfviPop connection to be computed. (required)
        :param CompRouteInput params: (required)
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.comp_route_inter_nfvi_pop_with_http_info(inter_nfvi_connectivity_id, params, **kwargs)  # noqa: E501
        else:
            (data) = self.comp_route_inter_nfvi_pop_with_http_info(inter_nfvi_connectivity_id, params, **kwargs)  # noqa: E501
            return data

    def comp_route_inter_nfvi_pop_with_http_info(self, inter_nfvi_connectivity_id, params, **kwargs):  # noqa: E501
        """Computes the interNfviPop connectivity between a pair of PEs with specific network constraints and selects specific servers/hosts within NfviPops  # noqa: E501

        Computes the interNfviPop connectivity between a pair of PEs with specific network constraints and selects specific servers/hosts within NfviPops  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.comp_route_inter_nfvi_pop_with_http_info(inter_nfvi_connectivity_id, params, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inter_nfvi_connectivity_id: Identifier of the interNfviPop connection to be computed. (required)
        :param CompRouteInput params: (required)
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inter_nfvi_connectivity_id', 'params']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method comp_route_inter_nfvi_pop" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inter_nfvi_connectivity_id' is set
        if ('inter_nfvi_connectivity_id' not in params or
                params['inter_nfvi_connectivity_id'] is None):
            raise ValueError("Missing the required parameter `inter_nfvi_connectivity_id` when calling `comp_route_inter_nfvi_pop`")  # noqa: E501
        # verify the required parameter 'params' is set
        if ('params' not in params or
                params['params'] is None):
            raise ValueError("Missing the required parameter `params` when calling `comp_route_inter_nfvi_pop`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'inter_nfvi_connectivity_id' in params:
            path_params['interNfviConnectivityId'] = params['inter_nfvi_connectivity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'params' in params:
            body_params = params['params']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/compRoute/{interNfviConnectivityId}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse200',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
